<div  fxLayout="column" fxLayoutAlign="space-around stretch" >
        <mat-toolbar class="tool"  fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <img src="../assets/image/logo_B.png" class="logimg" srcset="">
        </div>
        <div *ngIf="auth.user | async; then authed else guest">
    
        </div>
        </mat-toolbar>

</div>


<ng-template #guest>
                <div fxLayout="row" fxLayoutAlign="end center">
                        <a mat-button routerLink="/login"><i class="material-icons">account_box</i></a>
                </div>
</ng-template>
<ng-template #authed>
        <div fxLayout="row" fxLayoutAlign="end center">
                <a mat-button (click)=auth.logout()>Logout</a>
                <a routerLink="/foods" mat-button>Foods</a>
                <a routerLink="/mypage" mat-button>MyPage</a>
        </div>
</ng-template>