<div fxLayout="column" fxLayoutAlign="center center">
  <h2> 오늘 뭐 먹지?</h2>
  <hr>

<div fxLayout.lt-md="column" class="box">
  <a fxFlex="60"></a>
  <p class="desc" fxFlex="60" fxLayoutAlign="space-evenly center" >
    박 태 성<br>
    <br>
    급식을 먹는 사람이 아니면<br>
    누구나 하루에 한번 씩은 한다는 고민!<br>
    오늘 뭐 먹지?<br>
    급식을 먹지 않는다면,,,<br>
    뭐 먹을지 고민이 된다면,,,<br>
    고민을 즐거움으로<br>
   
    </p>
</div>
<br>
<br>
<br>
<footer fxLayout="column" fxLayoutAlign="center center" >
  <div>
      <mat-icon>fastfood</mat-icon>
  </div>
  <br>
    <div>
        © 2018 Goodeat 오늘 뭐 먹지?<br>
        대표메일 : 21300267@handong.edu
    </div>

</footer>
</div>