<br>
<br>
<br>

<div class="example-container mat-elevation-z8">
    <table mat-table >
      <thead>
        <tr mat-header-row>
            <th mat-header-cell > No.1 </th>
            <th mat-header-cell > No.2 </th>
            <th mat-header-cell > No.3 </th>
        </tr>
      </thead>
      <tbody>
          <tr mat-header-row>
              <td mat-cell>1</td>
              <td mat-cell>2</td>
              <td mat-cell>3</td>
          </tr>
          <tr mat-header-row>
              <td mat-cell>1</td>
              <td mat-cell>2</td>
              <td mat-cell>3</td>
          </tr>
          <tr mat-header-row>
              <td mat-cell>1</td>
              <td mat-cell>2</td>
              <td mat-cell>3</td>
          </tr>
          <tr mat-header-row>
              <td mat-cell>1</td>
              <td mat-cell>2</td>
              <td mat-cell>3</td>
          </tr>
      </tbody>
     
      
    </table>
  </div>
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->