<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="hid">
        <mat-header-cell *matHeaderCellDef> Hero ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.hid}} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="heroName">
        <mat-header-cell *matHeaderCellDef> Hero Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.heroName}} </mat-cell>
      </ng-container>
  
 
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date | date: 'short'}} </mat-cell>
      </ng-container>
  
     
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>