<div *ngIf="hero" class="container" >
<mat-card>

  <h2>{{hero.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{id}}
  </div>
  <div  class="example-container" fxLayout="column" fxLayoutAlign="start">
    <mat-form-field>
      <input [(ngModel)]="hero.name" matInput placeholder="name"/>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="hero.subtitle"  matInput placeholder="subtitle"/>
    </mat-form-field>

    <mat-form-field>
      <textarea [(ngModel)]="hero.content" matInput placeholder="content"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input #img [(ngModel)]="hero.URL" matInput placeholder="URL"/>
  </mat-form-field>

  <label for="file">File:</label>
    <input type="file" (change)="upload($event)" accept=".png,.jpg" />
  </div>
  <button mat-button color="accent" (click)="goBack()">Go Back</button>

</mat-card>
</div>
