<div *ngIf="hero">

  <h2>{{hero.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{id}}
  </div>
  <div  class="example-container" fxLayout="column" fxLayoutAlign="start">
    <mat-form-field>
      <input [(ngModel)]="hero.name" matInput placeholder="name"/>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="hero.subtitle"  matInput placeholder="subtitle"/>
    </mat-form-field>
    <label>content:
      <input [(ngModel)]="hero.content" placeholder="content"/>
    </label>
    <label>image URL:
        <input [(ngModel)]="hero.URL" placeholder="URL"/>
      </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>


