<mat-toolbar class="tool"  fxLayout="row" fxLayoutAlign="space-between center">
    <img src="../../assets/image/logo_B.png" class="logimg" srcset="">
    <div *ngIf="auth.user | async; then authed else guest">

    </div>

    <ng-template #guest>
            <div fxLayout="row" fxLayoutAlign="end center">
                    <a mat-button (click)="openLoginDialog()">Login</a>

            </div>
    </ng-template>
    <ng-template #authed>
            <div fxLayout="row" fxLayoutAlign="end center">
                    <a mat-button (click)=auth.logout()>Logout</a>
                    <a mat-button (click)="openAddFoodDialog()">AddFood</a>
                    <a mat-button (click)="openFoodsDialog()">Foods</a>
                    <a routerLink="/mypage" mat-button>MyPage</a>
            </div>
    </ng-template>

</mat-toolbar>