<ng-container *ngIf="final; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <div class="round-banner" fxLayout="row" fxLayoutAlign="center ">
    <h1> Final Winner </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center start">
  <div id="finalAni" class="example-2 card">
    <div class="wrapper" [ngStyle]="setMyStylesFinal()">
      <div class="header">
        <div class="date">
          <span class="day">₩{{finalFood.price}}</span>
          <span class="month"></span>
          <span class="year"></span>
        </div>
        <ul class="menu-content">
          <li>
            <a class="fa fa-bookmark-o"></a>
          </li>
          <li>
            <a class="fa fa-heart-o">
              <span>18</span>
            </a>
          </li>
          <li>
            <a class="fa fa-comment-o">
              <span>3</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">{{finalFood.store}}</span>
          <h1 class="title">
            <a>{{finalFood.name}}</a>
          </h1>
          <p class="text">{{finalFood.category}}</p>
          <p class="text">{{finalFood.address.addr}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-template>
<ng-template #elseTemplate>

  <div class="round-banner" fxLayout="row" fxLayoutAlign="center center">
    <h1> {{round}} / {{totalMatch}}Round</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="card-container" fxLayout="row" fxLayoutAlign="center center">
      <a id="firstAni" class="button" (click)='nextRound(1)'>
        <div class="example-2 card">
          <div class="wrapper" [ngStyle]="setMyStyles1()">

            <div class="header">
              <div class="date">
                <span class="day">₩{{firstFood.price}}</span>
                <span class="month"></span>
                <span class="year"></span>
              </div>
              <ul class="menu-content">
                <li>
                  <a class="fa fa-bookmark-o"></a>
                </li>
                <li>
                  <a class="fa fa-heart-o">
                    <span>18</span>
                  </a>
                </li>
                <li>
                  <a class="fa fa-comment-o">
                    <span>3</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="data">
              <div class="content">
                <span class="author">{{firstFood.store}}</span>
                <h1 class="title">
                  <a>{{firstFood.name}}</a>
                </h1>
                <p class="text">{{firstFood.category}}</p>
                <p class='text'>{{firstFood.address.addr}}</p>
              </div>
            </div>

          </div>
        </div>
      </a>



      <!-- "background: url({{secondFood.imgURL}}) center/cover no-repeat" -->
      <a id="secondAni" class="button" (click)='nextRound(2)'>
        <div class="example-2 card">
          <div class="wrapper" [ngStyle]="setMyStyles2()">
            <div class="header">
              <div class="date">
                <span class="day">₩{{secondFood.price}}</span>
                <span class="month"></span>
                <span class="year"></span>
              </div>
              <ul class="menu-content">
                <li>
                  <a class="fa fa-bookmark-o"></a>
                </li>
                <li>
                  <a class="fa fa-heart-o">
                    <span>18</span>
                  </a>
                </li>
                <li>
                  <a class="fa fa-comment-o">
                    <span>3</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="data">
              <div class="content">
                <span class="author">{{secondFood.store}}</span>
                <h1 class="title">
                  <a>{{secondFood.name}}</a>
                </h1>
                <p class="text">{{secondFood.category}}</p>
                <p class="text">{{secondFood.address.addr}}</p>
              </div>
            </div>
          </div>
        </div>
        </a>
    </div>
  </div>

</ng-template>
