.example-card {
    background-color: #f1f1f1;
    width: 400px;
  }

  .example-header-image {
    /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
    background-size: cover;
  }


.versus{
    position: relative;
    max-width: 10%;
}

.round-banner{
  margin-top: 100px;
  font-size : 4em;
  color : #e03b3b;
}

.battleimg{
  max-height: 300px;
}
