<div class="container" fxLayout="column" fxLayoutAlign="center center">
<div *ngIf="auth.user | async; then authenticated else guest" >

  </div>
  
  <ng-template #guest>
    <mat-card>
      <h3>Google Login</h3>
      <button mat-raised-button color="warn" (click)="auth.googleLogin()">Connect Google</button>
    </mat-card>
  </ng-template>
  
  
  <ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
      <h1>Hello, {{user.name}}</h1>
      <button mat-raised-button color="warn" routerLink="/mypage" >Move to MyPage</button>
    </div>
  </ng-template>
</div>