<div fxLayout="column" fxLayoutAlign="center stretch">
<div class='container' fxLayout="row" fxLayoutAlign="space-evenly center">
  <div id="background"  fxLayout="row" fxLayoutAlign="space-evenly end" >

    <img  class="maintxt" src="../../assets/image/main_text.png" alt="">

    <div>
    <img src="../../assets/image/arrow.png"  class="arrow" alt="">
    <a><img class="stamp" src="../../assets/image/ohmuckji.png" alt="" (click)="openDialog()"></a>
    </div>
</div>
</div>
<app-footer></app-footer>
</div>