<div fxLayout="column" fxLayoutAlign="center center">
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <mat-icon>fastfood</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
            <!-- Display -->
            <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{food.name}}</mat-card-title>
                <mat-card-subtitle>{{food.category}}</mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  Price : {{food.price}}<br>
                  Store : {{food.store}}<br>
                  Victory : {{food.victory.length}}<br>
                  address : {{food.address.addr}}<br>
                </p>
                <img mat-card-image src='{{food.imgURL}}' alt="Photo of a Shiba Inu">
               
             

              </mat-card-content>
            </mat-card>
        </div>
      </mat-tab>
      

      
    </mat-tab-group>
</div>
</div>


<div *ngIf="isDataLoaded" >


  <div class="fond"> <span class="s1"> </span><span class="s2"></span></div>
  <div class="mapContainer" >
  <agm-map [zoom]="17" [latitude]="latitude" [longitude]="longitude" (mapClick) ="onChoseLocation($event)">
      <agm-marker 
      [latitude]="latitude" 
      [longitude]="longitude"
      *ngIf = "locationChosen"
      ></agm-marker>
    </agm-map>
  </div>

</div>
