
<mat-toolbar color="primary">{{title}}

<div *ngIf="auth.user | async; then authed else guest">


</div>

<ng-template #guest>
        <div class="button-row">
                <button mat-raised-button routerLink="/login">Login</button>
                <button mat-raised-button routerLink="/heroes">Heroes</button>
                <button mat-raised-button routerLink="/dashboard">Dashboard</button>
            </div>
</ng-template>
<ng-template #authed>
        <div class="button-row">
                <a routerLink="/dashboard"><button mat-raised-button (click)=auth.logout()>Logout</button></a>
                <a routerLink="/heroes"><button mat-raised-button>Heroes</button></a>
                <a routerLink="/dashboard"><button mat-raised-button>Dashboard</button></a>
                <a routerLink="/mypage"><button mat-raised-button>MyPage</button></a>
        </div>
</ng-template>

</mat-toolbar>
<router-outlet></router-outlet>
<app-messages></app-messages>
