.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  }

.container{
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

.list{
  width:30px;

}

.modi{
  background-color: rgb(223, 223, 223);

}

.modi.input{
  width:100%
}