

.container{
  display : flex;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  padding-top: 40px;
  
  margin-top: 100px;
}

.list{
  width:30px;

}

.modi{
  background-color: rgb(223, 223, 223);

}

.modi.input{
  width:100%
}