.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  }

.container{
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
}