
   
<div class="container">
        
    <mat-tab-group>
        <mat-tab label="User Info">
            <div *ngIf="auth.user | async">
                <br>
                  <mat-card>
                      <mat-card-title>User Information</mat-card-title>
                      <mat-list>
                            <mat-list-item>User ID: {{user.uid}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Email: {{user.email}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Name: {{user.name}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Age     : {{2018-user.age+1}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Gender     : {{user.gender}}</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Address     : {{user.address}}</mat-list-item>
                            </mat-list>
                  </mat-card>
                  <br>
                  <br>
            
                  <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              개인 정보 수정
                            </mat-panel-title>
                            <mat-panel-description>
                              정보를 입력하세요
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                          <mat-form-field>
                            <mat-select placeholder="age">
                              <mat-option *ngFor="let age of ages" [value]="age.value" (blur)="setAge(age.value)">
                                {{ age.viewValue }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <mat-form-field>
                            <mat-select placeholder="gender">
                              <mat-option *ngFor="let gender of genders" [value]="gender.value" (blur)="setGender(gender.value)">
                                {{ gender.viewValue }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="address">
                                <mat-option *ngFor="let address of addresses" [value]="address.value"  (blur)="setAddress(address.value)">
                                    {{ address.viewValue }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-expansion-panel>

                    </mat-accordion>
  
              </div>
        </mat-tab>
        <mat-tab label="Likes">
            <app-hero-table></app-hero-table>
        </mat-tab>
      </mat-tab-group>
      <br>
      <br>
</div>
