


<!--check boxes-->
<mat-card class="option-card">
    <mat-card-content>
  <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="meal"> 식 사 </mat-checkbox>
      <div *ngIf="meal">
        <mat-checkbox value="korean">한식</mat-checkbox>
        <mat-checkbox value="chinese">중식</mat-checkbox>
        <mat-checkbox value="western">양식</mat-checkbox>
        <mat-checkbox value="japanese"> 일식</mat-checkbox>
        <mat-checkbox value="snack">분식</mat-checkbox>
      </div>
      <br>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="dessert">디저트</mat-checkbox>
      <div *ngIf="dessert">
        <mat-checkbox value="beverage">음료</mat-checkbox>
        <mat-checkbox value="ice">아이스크림</mat-checkbox>
        <mat-checkbox value="cake"> 케이크</mat-checkbox>
        <mat-checkbox value="bread">빵</mat-checkbox>
      </div>
    </section>
    <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="people">인원수</mat-checkbox>
        <div *ngIf="people">
          <mat-checkbox value="one">1인</mat-checkbox>
          <mat-checkbox value="two">2인</mat-checkbox>
          <mat-checkbox value="three">3인</mat-checkbox>
          <mat-checkbox value="four">4인 이상</mat-checkbox>
        </div>
      </section>
    <section>
        <mat-slider
        [(ngModel)]="value"
        max=100000
        min=1000
        step=500
        value="price"
        >
      </mat-slider>
    <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="직접 입력" [(ngModel)]="value">
    </mat-form-field>
    
</section>
<mat-form-field>
    <mat-select placeholder="round">
      <mat-option *ngFor="let round of rounds" [value]="round.value">
        {{ round.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
<button mat-raised-button color="primary" (click)="startRound()">Enter</button>
  </mat-card-content>
</mat-card>
       

    
  
 
    




<!--원래 히어로 코드
<div class="container" fxLayout="column">
  <mat-tab-group>
      <mat-tab label="Heroes">
          <div class="grid grid-pad card-container" >
              <div *ngFor="let hero of heroes | async" class="col-" >
                <mat-card class="example-card">
                    <mat-card-header>
                      
                      <div ><img mat-card-avatar class="example-header-image" src="{{hero.URL}}"></div>
                      <mat-card-title>{{hero.name}}</mat-card-title>
                      <mat-card-subtitle>{{hero.subtitle}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{hero.URL}}" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        {{hero.content}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button routerLink="/detail/{{hero.id}}">Edit</button>
                      <button mat-button (click)="deleteHero(hero.id)">Delete</button>
                      <button mat-button *ngIf="auth.user | async" (click)="auth.addLikeHero(hero.id, hero.name)" >Like</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
          
            </div>
      </mat-tab>
      <mat-tab label="Add Hero">
          <div class="addHero">
              <form class="example-form" fxLayout="column" fxLayoutAlign="space-around stretch">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="name" #name>
                  </mat-form-field>
        
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="subtitle" #subtitle>
                    </mat-form-field>
                
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="content" #content></textarea>
    
                  </mat-form-field> 
    
                  <mat-form-field class="example-full-width">
                      <input [(ngModel)]="newURL" name="First" matInput placeholder="Image URL"/>
                  </mat-form-field>
    
                  <div class="filebox"> 
                    <label for="ex_file">Upload Image</label> 
                    <input id="ex_file" type="file" (change)="upload($event)" accept=".png,.jpg" />
                  </div>

                  <br>
                  <br>
                  <button mat-raised-button (click)="addNewHero(name.value ,subtitle.value , content.value); name.clear" >ADD</button>
                  <br>
              </form>   
          </div>
      </mat-tab>
  </mat-tab-group>

</div>

-->

